@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(166, 248, 248);
    
}

header{
    background-color: rgb(72, 187, 187);
}

h1{
    text-align: center;
    padding: 20px;
}

span#burguer{
    background-color: darkcyan;
    display: block;
    text-align: center;
    padding: 8px;
    color: white;
}

span#burguer:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(67, 218, 218);
}

menu{
    text-align: center;
    display: none;
}

ul{
    list-style-type: none;
}

menu li{
    background-color: darkcyan;
}

a{
    text-decoration: none;
    color: black;
    border-top: 2px solid rgba(0, 0, 0, 0.377);
    padding: 8px;
    display: block;
}

a:hover{
    background-color: rgb(67, 218, 218);
}

main{
    width: 85vw;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
}

h2{
    text-align: center;
    padding: 15px;
}

p{
    text-indent: 20px;
    text-align: justify;

}

footer{
    background-color: darkcyan;
    margin-top: 20px;
    padding: 3px;
    text-align: center;
}

footer p{
    text-align: center;
    color: white;
}